## USER SETTINGS
VITE_GAME_DEBUG=false

## GAME SETTINGS
VITE_GAME_START_ROUND=1
VITE_DIFFICULTY_SCALING=1

## PLAYER SETTINGS
VITE_PLAYER_NAME=SBJ-07
VITE_PLAYER_CREDITS=0
VITE_PLAYER_LEVEL=1

## PLAYER UPGRADES
VITE_PLAYER_PRIMARY_EXTENDED_MAGAZINE_LEVEL=0
VITE_PLAYER_PRIMARY_RELOAD_OPTIMIZATION_LEVEL=0
VITE_PLAYER_PRIMARY_FIRE_RATE_OPTIMIZATION_LEVEL=0
VITE_PLAYER_PRIMARY_CRITICAL_PROTOCOL_LEVEL=0
VITE_PLAYER_PRIMARY_MODE_IMPROVEMENT_LEVEL=0
VITE_PLAYER_SECONDARY_KNIFE_ENHANCEMENT_LEVEL=0